html {
  background-color: aqua;
}
body {
  font-family: georgia;
}
h1 {
  font-family: "comic sans ms";
  font-size: 60px;
  color: darkblue;
  text-align: center;
}
h4 {
  text-align: right;
  font-style: italic;
}
p {
  text-align: justify;
}
h3 {
  a {
    color: aliceblue;
  }
}
#p1 {
  color: burlywood;
  text-align: center;
}
#p2 {
  text-align: right;
  line-height: 175%;
}
#a1 {
  color: aliceblue;
}
#a1:hover {
  color: red;
}
#a2:hover {
  color: aliceblue;
  background-color: blue;
}
