* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
nav {
  display: flex;
  background-color: #a59d84;
  justify-content: space-around;
  padding: 15px 0;
  color: #d7d3bf;
}
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}
nav ul li a {
  color: #d7d3bf;
  text-decoration: none;
}
nav ul li a:hover {
  color: #ecebde;
}
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -6px;
  top: -3px;
  cursor: pointer;
  z-index: 2;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 4px;
  background-color: #d7d3bf;
  border-radius: 5px;
  transition: all 0.3s;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(5px, 6px);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0%);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(5px, -6px);
}
/* ukuran mobile 576 px, tablet 768px */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  nav ul {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #a59d84;
    align-items: center;
    z-index: -1;
    transform: translateX(100%);
    transition: all 0.3s;
    opacity: 0;
  }
  .menu-toggle {
    display: flex;
  }
  /* js tutor yt */
  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }
}
